
table{
    border-collapse: collapse;
    font-size: xx-large;
}
#job, #employees{
    position: relative;
    width: 50%;
}
#employees{
    font-size: large;
}
#job{
    float: left;
    text-align: center;
}
#time{
    width: 100%;
    float: left;
    text-align: center;
}
form{
    float: left;
}
th,td {
    border: 1px solid black;
}
.ON{
    color: green;
}
.OFF{
    color: red;
}
#message{
    font-size: x-large;
    color: red;
}