<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Totals</title>
    <link rel="stylesheet" type="text/css" href="/static/Totals.css">
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/totals.js"></script>
</head>
<body>
<form action="/labor/totals">
    <div>
        Filter By:
        <select name="filter" class="filter">
            <option value="Job">Job #</option>
            <option value="Date">Date</option>
            <option value="Open" selected="selected">Open</option>
        </select>
    </div>
    <div name="Fromdiv" style="display: none">
        From:
        <input type="text" name="From">
    </div>
    <div name="Todiv" style="display: none">
        To:
        <input type="text" name="To">
    </div>
    <input type="submit" value="Refresh">
</form>
<table>
<tr><th>MasterJob</th>
<th>Total Time</th>
<th>Man Hours</th></tr>
{% for mjob in masterjobs.keys() %}
    <tr id="{{ mjob }}">
        <td>{{ mjob }}</td>
        <td>{{ masterjobs[mjob][mjob].totaltime }}</td>
        <td>{{ masterjobs[mjob][mjob].manhours }}</td>
        <td>{{ masterjobs[mjob][mjob].starttime }}</td>
        <td>{{ masterjobs[mjob][mjob].endtime }}</td>
        <td>
            <table id="sub-{{ mjob }}">
            <tr><th>SubJob</th>
            <th>Sub Total Time</th>
            <th>Sub Man Hours</th></tr>
                {% for sjob in masterjobs[mjob].keys() %}
                    {% if mjob != sjob %}
                    <tr id="{{ sjob }}">
                        <td>{{ sjob }}</td>
                        <td>{{ masterjobs[mjob][sjob].totaltime }}</td>
                        <td>{{ masterjobs[mjob][sjob].manhours }}</td>
                        <td>{{ masterjobs[mjob][sjob].starttime }}</td>
                        <td>{{ masterjobs[mjob][sjob].endtime }}</td>
                        <td>
                            <table id="station-{{ sjob }}">
                            <tr><th>Station</th>
                            <th>Station Total Time</th>
                            <th>Station Man Hours</th></tr>
                            {% for station in masterjobs[mjob][sjob].stations.keys() %}
                                <tr id="{{ station }}">
                                    <td>{{ station }}</td>
                                    <td>{{ masterjobs[mjob][sjob].stations[station].totaltime }}</td>
                                    <td>{{ masterjobs[mjob][sjob].stations[station].manhours }}</td>
                                    <td>{{ masterjobs[mjob][sjob].stations[station].starttime }}</td>
                                    <td>{{ masterjobs[mjob][sjob].stations[station].endtime }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </td>
    </tr>
{% endfor %}
</table>
</body>
</html>