<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Totals</title>
    <link rel="stylesheet" type="text/css" href="/static/Totals.css">
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/totals.js"></script>
</head>
<body>
<form action="/labor/totals">
    <div>
        Filter By:
        <select name="filter" class="filter">
            <option value="Job">Job #</option>
            <option value="Date">Date</option>
            <option value="Open" selected="selected">Open</option>
        </select>
    </div>
    <div name="Fromdiv" style="display: none">
        From:
        <input type="text" name="From">
    </div>
    <div name="Todiv" style="display: none">
        To:
        <input type="text" name="To">
    </div>
    <input type="submit" value="Refresh">
</form>


</body>
</html>