<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Labor Tracking</title>
    <link rel="stylesheet" type="text/css" href="/static/Workstation.css">

    <script>
    function startTime() {
        var today1 = new Date(Date.now() - Date.parse("{{ job.time }}"));
        var h = today1.getHours();
        var m = today1.getMinutes();
        var s = today1.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('jobtime').innerHTML =
        h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
    </script>
    <script>
    function startTimeE(time, Eid) {
        var today1 = new Date(Date.now() - Date.parse(time));
        var h = today1.getHours();
        var m = today1.getMinutes();
        var s = today1.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById(Eid).innerHTML =
        h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
    </script>

</head>
<body onload="startTime()">
    <table id="job">
        <tr><th id="workorderhead">Work Order #</th></tr>
        <tr><td id="workordernum">{{ job.number }}</td></tr>
        <tr><th id="jobstatushead">STATUS</th></tr>
        <tr><td id="jobstatus" class="{{ job.status }}">{{ job.status }}</td></tr>
    </table>
    <table id="employees">
        <tr><th>Logged In</th><th>Time</th></tr>
        {% for employee in employees %}
            <tr><td class="employeename">{{ employee.name }}</td><td id="{{ employee.name }}" class="employeetime">{{ employee.time }}</td></tr>
            <script>
            document.onload=function(){startTimeE("{{ employee.time }}","{{ employee.name }}")};
            </script>
        {% endfor %}
    </table>

    <table id="time">
        <tr><th>Total time on job</th></tr>
        <tr><td id="jobtime"></td></tr>
    </table>
    <form action="tracking" method="post">
        <input type="text" name="scan" autofocus>
        <input type="submit" value="">
    </form>



</body>
</html>