<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Labor Tracking</title>
    <link rel="stylesheet" type="text/css" href="/static/Workstation.css">

    <script>
    function startTime() {
        var today1 = new Date(Date.now() - Date.parse("{{ job.time }}"));
        var h = today1.getHours();
        var m = today1.getMinutes();
        var s = today1.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('jobtime').innerHTML =
        h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
    </script>
    <script>
    function startTimeE() {
        var table = document.getElementById("employees")
        for (var i = 0, row; row = table.rows[i]; i++) {

            var today1 = new Date(Date.now() - Date.parse(row.cells[1]));
            var h = today1.getHours();
            var m = today1.getMinutes();
            var s = today1.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById(row.cells[0]).innerHTML =
                    h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
    </script>

</head>
<body onload="startTime(); startTimeE()">
    <table id="job">
        <tr><th id="workorderhead">Work Order #</th></tr>
        <tr><td id="workordernum">{{ job.number }}</td></tr>
        <tr><th id="jobstatushead">STATUS</th></tr>
        <tr><td id="jobstatus" class="{{ job.status }}">{{ job.status }}</td></tr>
    </table>
    <table id="employees">
        <tr><th>Logged In</th><th>Time</th></tr>
        {% for employee in employees %}
            <tr><td class="employeename">{{ employee.name }}</td><td style="display: none">{{ employee.time }}</td><td id="{{ employee.name }}" class="employeetime"></td></tr>
        {% endfor %}
    </table>

    <table id="time">
        <tr><th>Total time on job</th></tr>
        <tr><td id="jobtime"></td></tr>
    </table>
    <form action="tracking" method="post">
        <input type="text" name="scan" autofocus>
        <input type="submit" value="">
    </form>



</body>
</html>